@charset "utf-8";
@import url(font/pretendard/font.css);


/* Reset */
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, span, form, fieldset, input, select, label, textarea, table, caption, thead, tfoot, tbody, tr, th, td
{margin:0;padding:0;font:14px/1.5 'pretendard', '맑은고딕','Malgun Gothic','나눔고딕','nanumgothic',굴림,Gulim,돋움,Dotum, Arial, Sans-serif;color:#000;-webkit-text-size-adjust:none;}
b, span, strong, input, a, button, pre {font-size:inherit;font-family:inherit;color:inherit;font-weight: 500;}
article, aside, dialog, footer, header, section, footer, nav, figure, hgroup, details, summary, figure, figcaption {display: block;}
cite {display:inline}
html, body {height:100%;}
body {margin:0px;overflow-y:scroll;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
img {border:0;}
label, input, textarea, select {vertical-align:middle}
ol, ul {list-style:none;}
table {border-collapse:collapse;table-layout:fixed;}
fieldset {border:none}
hr {position:absolute;left:-1000%;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
button {margin:0;padding:0;border:none;background:none;outline:none;cursor:pointer;display:inline-block;overflow:visible}
figure {margin:0;padding:0}
* {box-sizing: border-box;}
img {max-width: 100%;}

body {max-width: 1920px;margin: 0 auto;}
.inner {max-width: 1204px;padding:0 30px;margin:0 auto;}
.headLine {font-size:48px;display:block;font-weight: 300;color:#004537;}
.headLine b {font-weight: 700;}

header {border-bottom: 1px solid #004537;padding:40px 0;}
header h1 a {display:block;}
header .link {display:block;font-size: 16px;color:#004537;}
header .logo>a span {display:none;}

header .inner {display:flex;justify-content: space-between;align-items: center;}

#container {padding:113px 0 0 0;overflow: hidden;}

.mIntro {padding-bottom: 200px;}
.mIntro .tit {font-size: 60px;font-weight: 700;color:#007D54}
.mIntro .intro_txt {font-size: 40px;line-height: 130%;margin-top:19px;color:#000;margin-bottom: 60px;opacity: .8;}
.mIntro .intro_sec2 {margin-top:100px;}
.mIntro .intro_sec2 .intro_txt {color:#004537;letter-spacing: -.5px;margin-bottom: 20px;font-weight: 300;opacity: 1;}
.mIntro .intro_sec2 .intro_txt b {font-weight: 700;display:block;;}
.mIntro .intro_sec2 .intro_cont {font-size: 24px;line-height: 140%;margin-bottom: 100px;}
.mIntro .intro_sec2 .intro_cont p {font-size: inherit;line-height: inherit;}

.mStart {padding-bottom: 150px;}
.mStart .imgTit {margin-bottom: 60px;}
.mStart .start_sec {display:flex;justify-content: space-between;gap:30px;}
.mStart .start_txt {font-size: 48px;line-height: 148%;font-weight: 300;color:#004537;margin-bottom: 60px;}
.mStart .start_txt b {font-weight: 700;display:block;color:#004537;color:inherit}
.mStart .txt {font-size: 24px;line-height: 140%;letter-spacing: -.5px;}
.mStart .txt+.txt {margin-top:50px;}

.mService {border-top:3px solid #004537;padding-top:140px;padding-bottom: 190px;}
.mService .imgTit {margin-bottom: 10px;}
.mService .boxList {display:flex;flex-wrap: wrap;margin-left: -20px;width:calc(100% + 20px);margin-top:100px;}
.mService .boxList li {position:relative;filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));height:420px;width:calc(33.333% - 20px);background:#fff;margin-left:20px;border-radius: 20px;padding:50px 34px;}
.mService .boxList li.link {padding:0;}
.mService .boxList li a {display:block;width:100%;height:100%;padding:50px 34px;}
.mService .boxList li:last-child {background:#004537}
.mService .boxList li:last-child .tit {color:#fff}
.mService .boxList li:last-child .txt {color:#fff}
.mService .boxList li:nth-child(n+4) {margin-top:32px;}
.mService .boxList li .tit {display:block;font-size: 30px;font-weight: 700;margin-bottom: 20px;color:#004537;}
.mService .boxList li .txt {font-size: 18px;line-height: 150%;font-weight: 300;}
.mService .boxList li .ico {position:absolute;bottom:40px;right:37px;}

.intro_img {font-size: 0;}
.intro_img span {display:none;}

.mUsed {padding:0 0 200px 0;overflow: hidden;}
.mUsed .imgTit {margin-bottom: 10px;}
.mUsed .headLine {margin-bottom: 25px;;}
.mUsed .headLine b {display:inline;}
.mUsed .txt {font-size: 26px;line-height: 150%;margin-bottom: 150px;}
.mUsed .step_tit {display:inline-block;vertical-align: top;font-size: 44px;font-weight: 300;margin-bottom: 65px;color:#004537;padding:7px 50px;border-radius: 50px;border:2px solid #004537;;}
.mUsed .step_tit b {font-weight: 700;}
.mUsed .step_wrap {display:flex;justify-content: space-between;align-items: center;}
.mUsed .stepArea {position:relative;}
.mUsed .stepArea .step_wrap~.step_wrap  {flex-direction: row-reverse;}
.mUsed .stepArea .num {width:50px;height: 50px;background:#004537;border-radius: 50%;display:flex;justify-content: center;align-items: center;color: #fff;font-weight: 700;font-size:30px;font-weight: 700;margin-bottom: 20px;font-style: normal;}
.mUsed .stepArea .stepTitle {font-size: 40px;font-weight: 700;color:#004537;margin-bottom: 28px;}
.mUsed .stepArea .stepTitle span {font-weight: 300;}
.mUsed .stepArea .stepTxt {font-size: 26px;line-height: 148%;}
.mUsed .stepArea .step_wrap {position:relative;}
.mUsed .stepArea .step_wrap~.step_wrap {margin-top:90px;padding-top:90px;}
.mUsed .stepArea .step_wrap~.step_wrap:before {content:'';display:block;width:3000px;height:1px;background:#004537;position:absolute;top:0;left:-500px;}
.mUsed .stepArea.type2 {padding-top:180px;}


.mDown {background:#E6F2EE;padding:110px 0 110px 0;}
.mDown .inner {display:flex;align-items: center;justify-content: center;flex-direction: column;}
.mDown .downTit {font-size: 50px;line-height: 148%;font-weight: 300;color: #004537;}
.mDown .downTit b {display:block;font-weight: 700;text-align: center;;}
.mDown .btnArea {display:flex;gap:25px;margin-top:50px;}
.mDown .btnArea a {display:flex;align-items: center;justify-content: center;width:313px;height:73px;border-radius: 15px;background:#004537;;font-size: 26px;font-weight: 700;color:#fff;;}
.mDown .btnArea a i {display:block;margin-right: 10px;font-size: 0;}
.mDown .btnArea a.apple i {margin-top:6px;}

footer {padding:84px 0;}
footer .inner {display:flex;justify-content: space-between;align-items: flex-start;}
footer .inner * {color:#004537}
footer .inner .f_logo img {height:35px;}
footer .inner .footer_l {font-size: 14px;line-height: 24px;}
footer .inner .name {display:flex;gap:25px;margin-bottom: 20px;align-items: center;}
footer .inner .name b:first-child {font-size: 16px;font-weight: 700;}
footer .inner b {font-weight: 400;font-style: normal;}
footer .inner b span {font-weight: 700;}
footer address {margin-bottom: 20px;}
footer address em {font-style: normal;}
footer address b {display:flex;gap:3px;align-items: center;}
footer .info {display:flex;gap:30px}
footer .info_link {margin-top:17px;display:flex;}
footer .info_link a {display:block;padding-right: 15px;margin-right: 15px;position:relative;}
footer .info_link a:first-child:before {content:'';display:block;width:1px;heighT:12px;background:#004537;position:absolute;right:0;top:4px;}
footer .footer_r .sns {display:flex;align-items: center;gap:10px;justify-content: flex-end;margin-top:15px;}
footer .footer_r .end {margin-top:80px;font-size: 12px;text-align: right;}
footer .footer_r .f_logo {text-align: right;}
footer .add-flex {display:flex;align-items: center;gap:20px;;}

.groupCont>.division+.division {margin-top:35px;}
.groupCont .division .headLine4 {position:relative;display:block;margin-bottom: 15px;color:#004537;font-size: 20px;font-weight: 700;}
.groupCont .division .headLine4 .txtLink_s {position:absolute;right:0;top:50%;transform:translateY(-50%);text-decoration: underline;font-weight: 400;}
.groupCont .division .txtBody1+.txtBody1 {margin-top:7px;}
.groupCont .division .txtBody1+.headLine5 {margin-top:15px;}
.groupCont .division .txtList+.headLine5 {margin-top:15px;}
.groupCont .division .headLine5+.contTable {margin-top:10px;}
.groupCont .division .txtList+.txtBody1 {margin-top:10px;}
.groupCont .division .headLine5+.txtList {margin-top:10px;}
.groupCont .division .headLine5+.txtBody1 {margin-top:10px;}
.groupCont .division .contTable+.headLine5 {margin-top:25px;}
.groupCont .division .contTable+.txtBody1 {margin-top:25px;}
.groupCont .division .txtBody1+.txtList {margin-top:10px;}
.groupCont .division .txtBody1+.contTable {margin-top:10px;}

.groupCont .txtBody1{display:block;width:100%;font-size:16px;line-height:26px;letter-spacing:0;}
.groupCont .txtBody2{display:block;width:100%;font-size:14px;line-height:20px;letter-spacing:0;}
.groupCont .txtBody3{display:block;width:100%;font-size:12px;line-height:18px;letter-spacing:0;}

caption, caption>strong, caption>p, .scHdn, .txtHidden, legend {position:absolute;top:0;left:0;width:1px;height:1px;margin:1px;border:none;overflow:hidden; clip:rect(0, 0, 0, 0)}

.underTxt {color:var(--color-blue);text-decoration: underline !important;display:inline-block;margin-top:10px;}
.contTable{position:relative;width:100%;height:auto;overflow-x:auto;border-top:1px solid #000}
.contTable.typeScroll {width:calc(100% + 32px) !important;padding-right:32px !important;}
.contTable table{position:relative;width:100%;table-layout:fixed;border-collapse:collapse}
.contTable table:before {content:'';position:absolute;left:0;top:0;;display:block;width:100%;height:1px;background:var(--color-black)}
.contTable table th{font-size:16px;font-weight:700;color:var(--color-black);line-height:26px;height:50px;text-align:center;padding:13px;border-right:1px solid #e3e3e3;background-color:#F5F5F5;vertical-align: middle;}
.contTable table tbody td{font-size:16px;color:black;line-height:26px;height:50px;text-align:center;padding:13px;border-right:1px solid #e3e3e3;vertical-align: middle;word-break: break-word;}
.contTable table thead th:last-of-type,
.contTable table tbody td:last-of-type{border-right:0;}

.contTable table thead th[colspan]:first-of-type,
.contTable table thead th[rowspan]:first-of-type,
.contTable table tbody td[colspan]:first-of-type,
.contTable table tbody td[rowspan]:first-of-type{border-left:0;}

.contTable table thead th[colspan],
.contTable table thead th[rowspan],
.contTable table tbody td[colspan],
.contTable table tbody td[rowspan]{border-left:1px solid #E6E6E6;}

.contTable table thead th[colspan]:last-of-type,
.contTable table thead th[rowspan]:last-of-type,
.contTable table tbody td[colspan]:last-of-type,
.contTable table tbody td[rowspan]:last-of-type{border-right:0;border-left:1px solid #E6E6E6;}

.contTable table tbody td .txtList.dot>li{font-size:16px;line-height:24px;}
.contTable table tbody td .txtList.dot>li::before{top:10px;}

.contTable table tbody th{text-align:left;padding-left:16px;padding-right:16px;}
.contTable table thead tr,
.contTable table tbody tr{border-bottom:1px solid #E6E6E6;}

.tableTouchArea{position:absolute;background-color:rgba(0,0,0,0.3);width:100%;height:100%;left:0;top:0;}
.tableTouchArea .tableScrollTouch{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%); width:85px;height:85px;background:url(../img/common/icon_tableTouch.png) no-repeat center center;background-size: 100% auto;opacity:0.7;}

header .back img {height:44px}

/*dot*/
.txtList.dot>li+li {margin-top: 11px;}
.txtList.dot>li{position:relative;padding-left:8px;font-size:16px;line-height:24px;color:#000;word-break: keep-all;}
.txtList.dot>li::before{content:"";position:absolute;left:0;top:10px;display:block;width:3px;height:3px;border-radius:50%;background-color:#000;}
.txtList.dot>li>.txtList.hyphen{margin-top:5px;margin-bottom:5px;}

.txtList_s.dot{width:100%;height:auto;margin-top:20px;}
.txtList_s.dot>li{position:relative;padding-left:8px;font-size:14px;line-height:20px;color:#000;letter-spacing:0;word-break: keep-all;}
.txtList_s.dot>li+li {margin-top:8px;}
.txtList_s.dot>li::before{content:"";position:absolute;left:0;top:8px;display:block;width:2px;height:2px;border-radius:50%;background-color:#000;}

.txtList.hyphen>li{position:relative;padding-left:11px;color:#000;font-size:16px}
.txtList.hyphen>li+li {margin-top:3px;}
.txtList.hyphen>li::before{content:"";position:absolute;left:0;top:9px;display:block;width:5px;height:1px;background-color:#666;;}

.txtList.halfType{font-size:0;flex-wrap:wrap}
.txtList.halfType li{width:50%;display:inline-block;vertical-align:top;padding-right:10px;}
.txtList.halfType li:nth-of-type(2){margin-top:0;}

.txtList.bullet>li{padding-left:22px}
.txtList.bullet>li::before{content:attr(data-point);position:absolute;left:0;top:0;display:block;width:20px;height:auto;font-size:inherit;line-height:inherit;}

.txtList.smTxtList>li {font-size: 14px;line-height: 20px;color: #000;}
.txtList.dot.smTxtList>li::before {background-color: #000;}
.txtList.dot.smTxtList>li+li {margin-top: 8px;}

/* subtxt */


.mbBr {display:none;}

@media only screen and (max-width:1200px){
    .mService .boxList li {padding:30px;}
    .mService .boxList li a  {padding:30px;}
    .mService .boxList li .tit {word-break: keep-all;}
    .mService .boxList li .txt {word-break: keep-all;}
    .mService .boxList li .txt br {display:none;}

    .mUsed .stepArea .stepTitle {font-size: 35px;line-height: 120%;}
    .mUsed .stepArea .stepTxt {font-size: 20px;}

    .mStart .txt {font-size: 20px;}

    .mService .boxList li {width:calc(50% - 20px)}
    .mService .boxList li:nth-child(n+3) {margin-top:20px;}
}

@media only screen and (max-width:1041px){
    #container {padding-top:80px;}

    .mIntro {padding-bottom: 80px;}
    .mIntro .tit {font-size: 50px;}
    .mStart .start_sec {display:block;}
    
    .mStart {padding-bottom: 80px;}
    .mStart .imgTit {margin-bottom: 20px;}
    .mStart .txt br {display:none;}
    .mStart .start_txt {font-size: 35px;line-height: 120%;margin-bottom: 20px;}
    .mStart .txt+.txt {margin-top:30px;}
    .mStart .imgArea {margin-top:30px;}
    .mStart .imgArea img {width:100%;}

    footer .add-flex {display:block;} 

    .mService {padding-top:80px;padding-bottom: 80px;}
    .mService .boxList {margin-top:50px;}

    .headLine {font-size: 35px;line-height: 120%;}

    .mUsed {padding-top:0;padding-bottom: 80px;}
    .mUsed .txt {margin-bottom: 70px;}

    .mUsed .step_tit {font-size: 35px;margin-bottom: 30px;}
    .mUsed .imgArea img {height:350px;}
    .mUsed .stepArea .num {width:35px;height:35px;font-size: 20px;;}
    .mUsed .stepArea .stepTitle {font-size: 24px;}
    .mUsed .stepArea .stepTxt {line-height: 125%;}
    .mUsed .stepArea.type2:before {height:30px;}
    .mUsed .stepArea.type2 {padding-top:100px;}
    .mUsed .stepArea .step_wrap~.step_wrap {margin-top:70px;padding-top:70px}

    .mDown{padding:100px 0 120px 0;}
    .mDown .downTit {font-size: 35px;line-height: 130%;}
    
}


@media only screen and (max-width:767px){
    .mbBr {display:block;}
    
    header .back img {height:25px} 
    .inner {padding:0 40px;}
    header .logo>a span {display:block;}
    header .logo>a span img {height:20px;}
    header .logo>a>img {display:none;}

    header {border-bottom:0}
    #container {padding-top:30px;}
    .mIntro .tit {color:#D7B15E;word-break: break-word;width:270px;display:block;}
    header .link {display:none;}

    header {padding:20px 0;}
    header h1 img {height:28px;}

    .mIntro .tit {word-break: break-word;font-size: 35px;line-height: 110%;}

    .mIntro .intro_txt {font-size: 24px;margin-bottom: 40px;word-break: keep-all;}
    .mIntro .intro_sec2 .intro_txt b {margin-top:5px;}
    .mIntro .intro_sec2 .intro_cont {font-size: 18px;word-break: keep-all;}
    .mIntro .intro_sec2 .intro_cont p {margin-top:35px;word-break: keep-all;}

    .headLine {word-break: keep-all;font-size: 26px;text-align: center;word-break: keep-all;}
    .imgTit {text-align: center;}
    .imgTit img {height: 15px;}

    .mService .boxList {width:100%;margin-left:0;display:block;}
    .mService .boxList li {width:100%;margin-left:0;height:auto;padding:20px;padding-bottom: 15px;padding-right: 15px;filter:none;text-align: center;display:flex;flex-direction: column;align-items: center;position:relative;}
    .mService .boxList li+li {margin-top:20px !important}
    .mService .boxList li .ico {position:relative;bottom:0;right:auto;text-align: right;margin-top:15px;display:block;order:1;}
    .mService .boxList li .ico img {transform: scale(0.7);}
    .mService .boxList li .txt {font-size: 16px;order:3;}
    .mService .boxList li .tit {font-size: 24px;margin-bottom: 10px;order:2;}
    .mService .boxList li+li:before {content:'';display:block;position:absolute;left:-40px;height:1px;top:0;background:#004537;width:calc(100% + 80px)}
    .mService .boxList li .tit:after {content:'/';display:block;font-weight: 300;font-size: 30px;text-align: center;}
    .mService .boxList li.link {width:calc(100% + 80px);margin-left:-40px;margin-top:0;border-radius: 0;}
    .mService .boxList li.link .tit:after {display:none;}
    .mService .boxList li.link .txt {display:none;}
    .mService .boxList li a {padding:20px;display:flex;align-items: center;justify-content: center;gap:15px;}
    .mService .boxList li a .ico {order:2;}
    .mService .boxList li .tit {margin-bottom: 0;font-size: 20px;}
    .mService .boxList li.link .ico {margin-top:8px;}
    .mService .boxList li.link .ico img {transform: scale(1);height:20px}

    .mUsed .headLine b {display:block;}
    .mUsed .headLine {margin-bottom: 25px;}
    .mUsed .txt {font-size: 16px;line-height: 140%;margin-bottom: 40px;text-align: center;}
    .mUsed .step_tit {font-size: 20px;margin:0 auto;padding:10px 20px;border-width: 1px;margin:0 auto;display: block;text-align: center;margin-bottom: 30px;}

    .mUsed .stepArea .step_wrap {text-align: center;}
    .mUsed .stepArea .num {margin:0 auto;font-weight: 300;margin-bottom: 13px;}
    .mUsed .stepArea .stepTxt {word-break: keep-all;}
    .mUsed .stepArea .stepTxt br {display:none;}
    .mUsed .stepArea .stepTxt {font-size: 16px;}
    .mUsed .step_wrap {display:block;}
    .mUsed .imgArea {margin-top:50px;}
    .mUsed .imgArea img {height:auto;}
    .mUsed .stepArea .step_wrap~.step_wrap:before {width:100%;left:0;}

    .mDown {padding:50px 0;}
    .mDown .downTit {font-size: 24px;text-align: center;}
    .mDown .btnArea a {flex:1;height:50px;font-size: 19px;width:auto;}
    .mDown .btnArea {gap:15px;width:100%;margin-top:25px;}

    footer {padding:40px 0;}
    footer .inner {display:block;display:flex;flex-direction: column;}
    footer .footer_l {order:2;}
    footer .footer_r {margin-top:0;order:1;width:100%;margin-bottom: 15px;}
    footer .footer_r .top {display:flex;justify-content: space-between;width:100%;align-items: flex-start;}
    footer .footer_r .end {display:none;}
    footer .footer_r .f_logo{text-align: left;}
    footer .footer_r .end {text-align: left;}
    footer .footer_r .sns {justify-content: flex-start;margin-top:0;}
    footer .footer_r .end{margin-top:30px;}

    footer .info {display:block;}
    footer address {margin-bottom: 10px;}
    footer address>p {margin-bottom: 10px;}
    footer .add-flex b+b {margin-top:10px;}
    footer address b {flex-wrap: wrap;}

    .mDown {background:#004537}
    .mDown .downTit {color:#fff;word-break: keep-all;}
    .mDown .btnArea a {border:1px solid #fff}

    .mIntro {padding-bottom: 0}
    .mIntro .intro_sec2 .intro_cont {margin-bottom: 50px;}
    .intro_img {width:calc(100% + 80px);margin-left:-40px;}
    .intro_img>img {display:none;}
    .intro_img span {display:block;width:100%;} 
    .intro_img span img {width:100%;}
    .mIntro .intro_txt {word-break: keep-all;}
    .mIntro .intro_sec2 {margin-top:50px;}
    .mIntro .intro_sec2 .intro_txt {margin-top:0;}

    .mService {border-top:0;}
}


@media only screen and (max-width:480px){
    .mDown .btnArea {display:block;}

    .mDown .downTit {font-size: 4.3vw;;}
    .mDown .btnArea a {width:100%;}
    .mDown .btnArea a+a {margin-top:10px;}
}


.mT0{margin-top:0px !important;}
.mT1{margin-top:1px !important;}
.mT2{margin-top:2px !important;}
.mT3{margin-top:3px !important;}
.mT4{margin-top:4px !important;}
.mT5{margin-top:5px !important;}
.mT6{margin-top:6px !important;}
.mT7{margin-top:7px !important;}
.mT8{margin-top:8px !important;}
.mT9{margin-top:9px !important;}
.mT10{margin-top:10px !important;}
.mT11{margin-top:11px !important;}
.mT12{margin-top:12px !important;}
.mT13{margin-top:13px !important;}
.mT14{margin-top:14px !important;}
.mT15{margin-top:15px !important;}
.mT16{margin-top:16px !important;}
.mT17{margin-top:17px !important;}
.mT18{margin-top:18px !important;}
.mT19{margin-top:19px !important;}
.mT20{margin-top:20px !important;}
.mT21{margin-top:21px !important;}
.mT22{margin-top:22px !important;}
.mT23{margin-top:23px !important;}
.mT24{margin-top:24px !important;}
.mT25{margin-top:25px !important;}
.mT26{margin-top:26px !important;}
.mT27{margin-top:27px !important;}
.mT28{margin-top:28px !important;}
.mT29{margin-top:29px !important;}
.mT30{margin-top:30px !important;}
.mT32{margin-top:32px !important;}
.mT35{margin-top:35px !important;}
.mT40{margin-top:40px !important;}
.mT43{margin-top:43px !important;}
.mT45{margin-top:45px !important;}
.mT48{margin-top:48px !important;}
.mT50{margin-top:50px !important;}
.mT56{margin-top:56px !important;}
.mT60{margin-top:60px !important;}
.mT70{margin-top:70px !important;}
.mT80{margin-top:80px !important;}
.mT120{margin-top:120px !important;}

.mR0{margin-right:0px !important;}
.mR1{margin-right:1px !important;}
.mR2{margin-right:2px !important;}
.mR3{margin-right:3px !important;}
.mR4{margin-right:4px !important;}
.mR5{margin-right:5px !important;}
.mR6{margin-right:6px !important;}
.mR7{margin-right:7px !important;}
.mR8{margin-right:8px !important;}
.mR9{margin-right:9px !important;}
.mR10{margin-right:10px !important;}
.mR11{margin-right:11px !important;}
.mR12{margin-right:12px !important;}
.mR13{margin-right:13px !important;}
.mR14{margin-right:14px !important;}
.mR15{margin-right:15px !important;}
.mR16{margin-right:16px !important;}
.mR17{margin-right:17px !important;}
.mR18{margin-right:18px !important;}
.mR19{margin-right:19px !important;}
.mR20{margin-right:20px !important;}
.mR21{margin-right:21px !important;}
.mR22{margin-right:22px !important;}
.mR23{margin-right:23px !important;}
.mR24{margin-right:24px !important;}
.mR25{margin-right:25px !important;}
.mR26{margin-right:26px !important;}
.mR27{margin-right:27px !important;}
.mR28{margin-right:28px !important;}
.mR29{margin-right:29px !important;}
.mR30{margin-right:30px !important;}
.mR35{margin-right:35px !important;}
.mR40{margin-right:40px !important;}
.mR45{margin-right:45px !important;}
.mR50{margin-right:50px !important;}

.mB0{margin-bottom:0px !important;}
.mB1{margin-bottom:1px !important;}
.mB2{margin-bottom:2px !important;}
.mB3{margin-bottom:3px !important;}
.mB4{margin-bottom:4px !important;}
.mB5{margin-bottom:5px !important;}
.mB6{margin-bottom:6px !important;}
.mB7{margin-bottom:7px !important;}
.mB8{margin-bottom:8px !important;}
.mB9{margin-bottom:9px !important;}
.mB10{margin-bottom:10px !important;}
.mB11{margin-bottom:11px !important;}
.mB12{margin-bottom:12px !important;}
.mB13{margin-bottom:13px !important;}
.mB14{margin-bottom:14px !important;}
.mB15{margin-bottom:15px !important;}
.mB16{margin-bottom:16px !important;}
.mB17{margin-bottom:17px !important;}
.mB18{margin-bottom:18px !important;}
.mB19{margin-bottom:19px !important;}
.mB20{margin-bottom:20px !important;}
.mB21{margin-bottom:21px !important;}
.mB22{margin-bottom:22px !important;}
.mB23{margin-bottom:23px !important;}
.mB24{margin-bottom:24px !important;}
.mB25{margin-bottom:25px !important;}
.mB26{margin-bottom:26px !important;}
.mB27{margin-bottom:27px !important;}
.mB28{margin-bottom:28px !important;}
.mB29{margin-bottom:29px !important;}
.mB30{margin-bottom:30px !important;}
.mB35{margin-bottom:35px !important;}
.mB40{margin-bottom:40px !important;}
.mB45{margin-bottom:45px !important;}
.mB50{margin-bottom:50px !important;}
.mB70{margin-bottom:70px !important;}